<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/courses">📖 Yuk Belajar!</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <a class="nav-link me-3" href="/admin">Admin</a>

            <form action="" method="get" class="d-flex me-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search by title" aria-label="Search" name="search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>

            <div class="ms-auto d-flex align-items-center">
                <a class="btn btn-link me-3" href="/logout">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>

                <a href="/profile/<%= userId %>" class="btn btn-link">
                    <i class="fas fa-user-circle" style="font-size: 24px;"></i>
                </a>
            </div>
        </div>
    </div>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">